$icon-size: 1.5rem;

.btn-icons {
    align-items: center;
    display: inline-flex;
    gap: 30px;
    position: relative;
    flex: 0 0 auto;
    position: relative;
    .icon {
        color: black;
        font-size: $icon-size;
        cursor: pointer;
        transition: all 0.3s;
        &:hover {
            color: pink;
        }
    }
}