.label {
    height: 17px;
    width: 814px;

    .navbar-item {
        color: transparent;
        font-family: "Old Standard TT-Bold", Helvetica;
        font-size: 14px;
        font-weight: 700;
        letter-spacing: 0;
        line-height: normal;
        position: fixed;
        top: 2;
        left: 0;

        .text-wrapper {
            color: #191919;
            margin: 0 22px;
        }
    }

}